@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MY GREAT PARTY</h1>
    <p class="lead">Will be tommorow</p>
    <p>@Html.ActionLink("Confirm!!", "Create", "Form", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Party will be tomorrow at 7PM
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Get more Fun</h2>
        <p>Ther will be a lot of fun.. <br/> Sex  Drugs & RockAndRoll !! </p>
    </div>
    <div class="col-md-4">
        <h2>Confirm your Arrival!</h2>
        <p>@Html.ActionLink("Confirm!!", "Create", "Form", null, new { @class = "btn btn-default" })</p>

    </div>
</div>